.title,
.title {
	background-color: var(--primary);
}

h2 {
	color: white;
	font-size: 1.9rem;
	line-height: 2rem;
	padding: 0.5rem;
}

.Category img {
	width: 100%;
}

.Category h4 {
	margin-top: 0.5rem;
}
