* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Roboto Slab";
	src: url(./fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}

body {
	font-family: Roboto Slab;
	--primary: #ffca41;
	--font-color: #333333;
	--border-color: #33333375;
}

.LandingPage {
	height: 100vh;
	position: relative;
	display: grid;
	grid-template-rows: 1fr 1fr;
	justify-items: start;
	padding: 1rem;
}

h5 {
	color: var(--primary);
	font-size: 1.1rem;
}

h4 {
	color: var(--font-color);
	font-size: 1.1rem;
}

p {
	font-variation-settings: "wght" 500;
}

.DetailsPage {
	margin-bottom: 100px;
}
